---
import CarruselCard from '../components/CarruselCard.astro';
import GameCard from '../components/GameCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<header>
		<div class="header-info">
			<h1>GameVault</h1>
		</div>
		<hr>
		<div class="searcher">
			<input type="search" placeholder="Buscar juegos..." />
		</div>	
	</header>
	<hr>
	<hr class="space">
	<main>
		<div class="top-game-list">
			<button class="prev">❮</button>
				<CarruselCard id="top-game-list-card" game_info={{name: "The Legend of Zelda: Breath of the Wild", rating: 4.5, released: "2017-03-03"}} />
  			<button class="next">❯</button>
		</div>
			<hr class="space">
		<div class="popular-game-list">
			
		</div>
	</main>
	<footer>
		<p>Made by Juancho</p>
	</footer>
</Layout>

<style>
	body {
		font-family: 'Inter', sans-serif;
		background-color: #f5f5f5;
		color: #333;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	header {
		height: 15%;
		background-color: #181b25;
		color: #fff;

		hr {
			border: 0;
			height: 2%;
			background-color: #1e222c;
			margin: 0;
		}

		.header-info {
			margin: 0;
			display: flex;
			height: 60%;

			flex-direction: row;
		}

		.searcher {
			height: 38%;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			input {
				width: 50%;
				padding: 0.5rem;
				border-radius: 4px;
				border: none;
				font-size: 1rem;
				background-color: #2d3544;
				color: #fff;
				&::placeholder {
					color: #a6acbe;
				}
			}
		}
	}

	hr {
		border: 0;
		height: 0.4%;
		background-color: #1e222c;
		margin: 0;
	}

	.space {
		border: 0;
		height: 1%;
		background-color: #181b25;
		margin: 0;
	}

	main {
		height: 80%;
		display: flex;
		flex-direction: column;

		.top-game-list {
			height: 50%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			gap: 1rem;

			button {
  				position: absolute;
  				top: 50%;
  				transform: translateY(-50%);
  				font-size: 30px;
  				background: rgba(0,0,0,0.5);
  				color: white;
  				border: none;
  				cursor: pointer;
  				padding: 10px;
			}

			.prev {
  				left: 1%;
			}

			.next {
  				right: 1%;
			}
		}
	}
</style>

<script>
	import { call_data, top_games } from '../utils/api_call';

	const top_games_info = await top_games();

	const images = [
	  "img1.jpg",
	  "img2.jpg",
	  "img3.jpg"
	];

	let index = 0;

  		const img = document.getElementById("top-game-list-card");

		img.style.backgroundImage = `url(${top_games_info[0].background_image})`;

		document.querySelector(".next").onclick = () => {
		   console.log(top_games_info);
		  console.log("Next button clicked");
		};
	
		document.querySelector(".prev").onclick = () => {
		  index--;
		  if (index < 0) index = images.length - 1;
		  img.src = images[index];
		};

	
</script>
