---
import Boton from "./Boton.astro";

const game_info = Astro.props.game_info;
---

<div class="carrusel-card" id="top-game-list-card">
    <div class="carrusel-game-info">
        <div class="game-info">
            <div class="upper">
                <p class="game-rating">{game_info.rating}</p>
                <h2>{game_info.name}</h2>
            </div>
            <hr>
        </div>
        <div class="buttons">
            <button>Ver más</button>
            <button>Añadir</button>
        </div>
    </div>
</div>

<style>
    .carrusel-card {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        background-image: url("https://media.rawg.io/media/games/618/618c2031a07bbff6b4f611f10b6bcdbc.jpg");
        background-size: cover;
        background-position: center;
    }

    .carrusel-card::before {
            content: "";
            position: absolute;
            inset: 0;

            background: linear-gradient(
              to right,
              #181b25 0%,
            rgba(24, 27, 37, 1) 25%,
            rgba(24, 27, 37,0.8) 26%,
            rgba(24, 27, 37,0.6) 27%,
            rgba(24, 27, 37,0.4) 28%,
            rgba(24, 27, 37,0.2) 29%,
            rgba(24, 27, 37,0) 30%,
            rgba(24, 27, 37,0) 70%,
            rgba(24, 27, 37,0.2) 71%,
            rgba(24, 27, 37,0.4) 72%,
            rgba(24, 27, 37,0.6) 73%,
            rgba(24, 27, 37,0.8) 74%,
            rgba(24, 27, 37, 1) 75%,
            #181b25 100%
            );

            pointer-events: none;
        }           

    .carrusel-game-info {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .game-info {
        margin-left: 20%;
        margin-top: 20%;
        width: 90%;
        height: 50%;

        .upper {
            display: flex;
            align-items: center;

            .game-rating {
                padding: 1.5% 3.4%;
                border-radius: 4px;
                font-size: 1.2rem;
                font-family: "Inter", sans-serif;
                color: #e3daad;
                font-weight: bold;
            }

            h2 {
                font-size: 1.2rem;
            }
        }

        hr {
            position: relative;
            right: 10%;
            width: 50%;
        }

        .released {
            margin-left: 15%;
        }
    }


    .buttons {
        margin-left: 28%;
        width: 50%;
        display: flex;
        justify-content: space-around;

        button {
            width: 40%;
            padding: 2%;
            background-color: #2b3641;
            color: white;
            border: none;
            border-radius: 4%;
            font-size: 0.875rem;
            font-family: "Inter", sans-serif;
            cursor: pointer;
            transition: background-color 0.2s;
        }

        button:hover {
            background-color: #3c4a5a;
        }
    }
</style>