---
import Boton from "./Boton.astro";

const game_info = Astro.props.game_info;
---

<div class="carrusel-card" id="top-game-list-card">
    <div class="carrusel-game-info">
        <div class="game-info">
            <div class="upper">
                <p class="game-rating">{game_info.rating}</p>
                <h2>{game_info.name}</h2>
            </div>
            <p>Released: {game_info.released}</p>
        </div>
        <div class="buttons">
            <Boton text="Ver más" />
            <Boton text="Agregar a favoritos" />
        </div>
    </div>
</div>

<style>
    .carrusel-card {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-image: url("https://media.rawg.io/media/games/618/618c2031a07bbff6b4f611f10b6bcdbc.jpg");
        background-size: cover;
        background-position: center;
    }

    .carrusel-card::before {
            content: "";
            position: absolute;
            inset: 0;

            background: linear-gradient(
              to right,
              #181b25 0%,
            rgba(24, 27, 37, 1) 25%,
            rgba(24, 27, 37,0.8) 26%,
            rgba(24, 27, 37,0.6) 27%,
            rgba(24, 27, 37,0.4) 28%,
            rgba(24, 27, 37,0.2) 29%,
            rgba(24, 27, 37,0) 30%,
            rgba(24, 27, 37,0) 70%,
            rgba(24, 27, 37,0.2) 71%,
            rgba(24, 27, 37,0.4) 72%,
            rgba(24, 27, 37,0.6) 73%,
            rgba(24, 27, 37,0.8) 74%,
            rgba(24, 27, 37, 1) 75%,
            #181b25 100%
            );

            pointer-events: none;
        }           

    .carrusel-game-info {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .game-info {
        .upper {
            display: flex;
            align-items: center;

            .game-rating {
                padding: 1.5% 3.4%;
                border-radius: 4px;
                font-size: 1.4rem;
                font-family: "Inter", sans-serif;
                color: #e3daad;
                font-weight: bold;
            }
        }
    }
</style>